/* * {
  margin: 0;
  padding: 0;
} */

/* body {
  background-color: #020631;
} */

.apps {
  /* position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%); */
  background-color: #020631;
  display: flex;
  /* justify-content: center; */
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.mainHeading {
  /* margin: auto; */
  text-align: center;
  margin-top: 140px;
}

h1,
h2 {
  color: white;
}

/* .app .input {
  display: flex;
  justify-content: center;
  align-items: center;
    
} */

.input {
  margin-top: 0.8em;
  width: 25em;
  height: 2.5em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
}

.input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 408px;
}
.todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.apps .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
}
/* .line {
  text-decoration: line-through;
} */

@media screen and (max-width: 530px) {
  .input {
    width: 20rem;
  }
  .todos .todo {
    width: 20rem;
  }
  h1,
  h2 {
    font-size: 21px;
  }
}
